/*////////////////////////////////////////////////////// Responsive CSS Structure //////////////////////////////////////////////////////*/
@media (min-width: 1900px) {
}

@media (min-width: 1800px) and (max-width: 1899px) {
   /*banner*/
   .hero-main::before { left: 81px; } 
   .hero-main::after { right: 94px; }
   /*banner*/

}
@media (min-width: 1700px) and (max-width: 1799px) {
   /*banner*/
  .hero-main::before { left: 43px; } 
  .hero-main::after { right: 43px; }
   /*banner*/

}
@media (min-width: 1600px) and (max-width: 1699px) {
   /*banner*/
  .hero-main::before { left: 43px; } 
  .hero-main::after { right: 43px; }
  .banner-img { max-width: 1130px; }
  .hero-content > *:nth-child(2) { right: -158px; }
   /*banner*/
}
@media (min-width: 1500px) and (max-width: 1599px) {
   /*banner*/
  .hero-main::before { left: 43px; } 
  .hero-main::after { right: 43px; }
  .banner-img { max-width: 1130px; }
  .hero-content > *:first-child { left: -82px; }
  .hero-content > *:nth-child(2) { right: -90px; }
   /*banner*/
}
@media (min-width: 1400px) and (max-width: 1499px) {
      /*banner*/
  .hero-main::before { left: 43px; } 
  .hero-main::after { right: 43px; }
  .banner-img { max-width: 1030px; }
  .hero-content > *:first-child { left: -52px; }
  .hero-content > *:nth-child(2) { right: -66px; bottom: -33px; } 
  .btn-wrp .bnr-btn { font-size: 17px; }
   /*banner*/
}


@media (min-width: 1300px) and (max-width: 1399px) {
   .main-title { font-size: 60px; line-height: 70px; } 
   
   
   /*banner*/
   .hero-main-content .main-small-title * { font-size: 57px; line-height: 65px; }
  .hero-main::before { left: 43px; max-width: 95px; } 
  .hero-main::after { right: 43px; max-width: 95px; }
  .banner-img { max-width: 975px; }
  .hero-content > *:first-child { left: 0px; bottom: -54px; }
  .hero-content > *:nth-child(2) { right: 13px; bottom: -56px;} 
  .btn-wrp .bnr-btn { font-size: 17px; }
  .hero-main-content .main-small-title span { font-size: 60px; line-height: 65px; margin: 0 15px; padding: 9px; }
   /*banner*/

}

@media (min-width: 1200px) and (max-width: 1299px) {
   .main-title { font-size: 55px; line-height: 60px; } 
   .btn-blue { padding: 15px 17px; } 
   .section-title { font-size: 45px; line-height: 53px; } 
   .large-paragraph { font-size: 18px; line-height: 24px; }
   .navbar { padding: 10px 10px 10px 15px; }
   /*banner*/
   .container { max-width: 1140px; }

   .hero-main-content .main-small-title * { font-size: 53px; line-height: 58px; }
  .hero-main::before {left: 29px; max-width: 74px; } 
  .hero-main::after { right: 29px; max-width: 74px; }
  .banner-img { max-width: 975px;     margin: -294px auto 0 auto; }
  .hero-content > *:first-child { left: 0px; bottom: -54px; }
  .hero-content > *:nth-child(2) { right: 13px; bottom: -37px;} 
  .btn-wrp .bnr-btn { font-size: 17px; }
  .hero-main-content .main-small-title span { font-size: 53px; line-height: 58px; margin: 0 10px; padding: 9px; border-radius:15px ; -webkit-border-radius:15px ; -moz-border-radius:15px ; -ms-border-radius:15px ; -o-border-radius:15px ; }
  .hero-main { padding: 179px 0 320px 0; } 
  .hero-main-content .detail { font-size: 19px; line-height: 29px; } 
  .hero-main { border-radius: 41px; }
  /*banner*/

  /*trusted*/
  .trusted-main { padding: 60px 0; } 
  .trusted-inner .large-paragraph { margin: 11px 0 35px 0; } 
  .trusted-block { padding: 18px 31px; max-width: 355px;}
  /*trusted*/
   /*browser-reviews*/
  .browser-reviews-main { padding: 40px 0; }
   /*browser-reviews*/

}

@media (min-width: 1080px) and (max-width: 1199px) {
   .main-title { font-size: 55px; line-height: 60px; } 
   .btn-blue { padding: 15px 17px; } 
   .section-title { font-size: 40px; line-height: 50px; } 
   .large-paragraph { font-size: 18px; line-height: 24px; }

   /*header*/
   .navbar { padding: 10px 10px 10px 15px;  max-width: 1000px; margin: 0 auto;} 
   .nav-item { margin: 0 16px; }
   .header { top: 30px; }
   /*header*/

   /*banner*/
   .container { max-width: 1110px; }

   .hero-main-content .main-small-title * { font-size: 53px; line-height: 58px; }
  .hero-main::before {left: 29px; max-width: 74px; } 
  .hero-main::after { right: 29px; max-width: 74px; }
  .banner-img { max-width: 822px;     margin: -294px auto 0 auto; }
  .hero-content > *:first-child { left: 0px; bottom: -41px; }
  .hero-content > *:nth-child(2) { right: 13px; bottom: -37px;} 
  .btn-wrp .bnr-btn { font-size: 17px; }
  .hero-main-content .main-small-title span { font-size: 53px; line-height: 58px; margin: 0 10px; padding: 9px; border-radius:15px ; -webkit-border-radius:15px ; -moz-border-radius:15px ; -ms-border-radius:15px ; -o-border-radius:15px ; }
  .hero-main { padding: 150px 0 320px 0; border-radius: 41px; -webkit-border-radius: 41px; -moz-border-radius: 41px; -ms-border-radius: 41px; -o-border-radius: 41px; } 
  .hero-main-content .detail { font-size: 19px; line-height: 29px; } 
  /*banner*/

  /*trusted*/
  .trusted-main { padding: 60px 0; } 
  .trusted-inner .large-paragraph { margin: 11px 0 35px 0; } 
  .trusted-block { padding: 13px 26px; }
  .trusted-inner .section-title { max-width: 930px; margin: 0 auto; }
  /*trusted*/
   /*browser-reviews*/
  .browser-reviews-main { padding: 33px 0 10px 0; }
  .browser-reviews-block ul li img { height: 42px; }
   /*browser-reviews*/

}


@media (min-width: 992px) and (max-width: 1079px) {
  .main-title { font-size: 50px; line-height: 55px; } 
   .btn-blue { padding: 12px 17px; } 
   .section-title { font-size: 36px; line-height: 45px; } 
   .large-paragraph { font-size: 18px; line-height: 24px; }

   /*header*/
   .navbar { padding: 10px 10px 10px 15px;  max-width: 1000px; margin: 0 auto;} 
   .nav-item { margin: 0 13px; }
   .header { top: 30px; }
   .nav-item a { font-size: 16px; line-height: 20px; }
   /*header*/

   /*banner*/
   .container { max-width: 940px; }

   .hero-main-content .main-small-title * { font-size: 53px; line-height: 58px; }
  .hero-main::before {left: 29px; max-width: 74px; } 
  .hero-main::after { right: 29px; max-width: 74px; }
  .banner-img { max-width: 732px;margin: -255px auto 0 auto; }
  .hero-content > *:first-child {         left: 17px; bottom: -68px; }
  .hero-content > *:nth-child(2) { right: 13px; bottom: -66px;} 
  .btn-wrp .bnr-btn { font-size: 17px; }
  .hero-main-content .main-small-title span { font-size: 53px; line-height: 58px; margin: 0 10px; padding: 9px; border-radius:15px ; -webkit-border-radius:15px ; -moz-border-radius:15px ; -ms-border-radius:15px ; -o-border-radius:15px ; }
  .hero-main { padding: 150px 0 320px 0; border-radius: 41px; -webkit-border-radius: 41px; -moz-border-radius: 41px; -ms-border-radius: 41px; -o-border-radius: 41px; } 
  .hero-main-content .detail { font-size: 19px; line-height: 29px; } 
  /*banner*/

  /*trusted*/
  .trusted-main { padding: 60px 0; } 
  .trusted-inner .large-paragraph { margin: 11px 0 35px 0; } 
  .trusted-block { padding: 13px 26px;         max-width: 288px; }
  .trusted-inner .section-title { max-width: 930px; margin: 0 auto; }
  /*trusted*/
   /*browser-reviews*/
  .browser-reviews-main { padding: 33px 0 10px 0; }
  .browser-reviews-block { max-width: 453px; }
   /*browser-reviews*/
}

/* Mobile styles - under 991px */
@media (max-width: 991px) {
  .header {
    top: 30px;
  }
  .navbar-toggler {
    display: block;
  }

  .nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    background: #fff;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 140px 30px 30px;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    transition: right 0.6s ease-in-out;
    z-index: 1000;
    -webkit-transition: right 0.6s ease-in-out;
    -moz-transition: right 0.6s ease-in-out;
    -ms-transition: right 0.6s ease-in-out;
    -o-transition: right 0.6s ease-in-out;
  }

  .nav.active {
    right: 0;
  }

  .nav-menu {
    flex-direction: column;
    width: 100%;
  }

  .nav-item {
   margin: 0 0 10px 0;
  }

  .nav-btn {
    margin: 20px 0 0 0;
  }
  .no-scroll {
    overflow: hidden;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
   .main-title { font-size: 42px; line-height: 48px; } 
   .btn-blue { padding: 12px 17px; } 
   .section-title {font-size: 33px; line-height: 42px; } 
   .large-paragraph { font-size: 17px; line-height: 24px; }

   /*header*/
   .navbar { padding: 10px 10px 10px 15px;  max-width: 1000px;margin: 0 20px 0 20px;} 
   .header { top: 30px; }
   .nav-item a { font-size: 16px; line-height: 20px; }
   /*header*/

   /*banner*/
   .container { max-width: 940px; }

   .hero-main-content .main-small-title * { font-size: 38px; line-height: 45px;}
  .hero-main::before {left: 2px; max-width: 74px; } 
  .hero-main::after { right: 2px; max-width: 74px; }
  .banner-img {  max-width: 588px; margin: -252px auto 0 auto; }
  .hero-content > *:first-child {  left: 17px; bottom: -58px; }
  .hero-content > *:nth-child(2) { right: 13px; bottom: -57px;} 
  .btn-wrp .bnr-btn { font-size: 15px; }
  .hero-main-content .main-small-title span {  font-size: 38px; line-height: 45px; margin: 0 7px; padding: 9px; border-radius:15px ; -webkit-border-radius:15px ; -moz-border-radius:15px ; -ms-border-radius:15px ; -o-border-radius:15px ; }
  .hero-main { padding: 150px 0 320px 0; border-radius: 41px; -webkit-border-radius: 41px; -moz-border-radius: 41px; -ms-border-radius: 41px; -o-border-radius: 41px; } 
  .hero-main-content .detail { font-size: 18px; line-height: 27px; } 
  .hero-content > *:first-child svg { top: -14px; right: 8px; width: 16px; } 
  .hero-content > *:nth-child(2) svg { top: -13px; width: 16px; left: 10px; }
  /*banner*/

   /*trusted*/
   .trusted-main { padding: 60px 0; } 
   .trusted-inner .large-paragraph { margin: 11px 0 35px 0; } 
   .trusted-block { padding: 13px 26px;         max-width: 227px; }
   .trusted-inner .section-title { max-width: 930px; margin: 0 auto; }
   .trusted-block .detail p { font-size: 15px; line-height: 20px; }
   /*trusted*/
   /*browser-reviews*/
   .browser-reviews-block { max-width: 334px; margin-right: 17px; } 
  .browser-reviews-main { padding: 20px 0; }
  .browser-reviews-inner { justify-content: center; } 
  .browser-reviews-wrp p { max-width: 100%; line-height: 20px; } 
  .browser-reviews-block ul li img {height: 35px; width: 83px;}
   /*browser-reviews*/
}




@media (min-width: 768px) {
}

@media (max-width: 767px) {
}

/*---------- Small Mobile , IPhone Start ----------*/

/*=== Screen Size = 240, 320, 360, 480, 568 ===*/

@media (min-width: 576px) and (max-width: 767px) {
    .main-title {font-size: 38px; line-height: 43px;; } 
    .btn-blue { padding: 10px 18px; } 
    .section-title {  font-size: 29px; line-height: 40px; } 
   .large-paragraph { font-size: 17px; line-height: 24px; }

   /*header*/
   .navbar  .btn-blue  { margin-top: 10px; }
   .navbar { padding: 10px 10px 10px 15px;  max-width: 1000px; margin: 0 20px 0 20px;} 
   .header { top: 30px; }
   .nav-item a { font-size: 16px; line-height: 20px; }
   /*header*/

   /*banner*/
   .container { max-width: 940px; }

   .hero-main-content .main-small-title * { font-size: 38px; line-height: 45px;}
  .hero-main::before {left: 2px; max-width: 74px; } 
  .hero-main::after { right: 2px; max-width: 74px; }
  .banner-img {  max-width: 386px; margin: -160px auto 0 auto; }
  .hero-content > *:first-child {  left: 17px; bottom: -58px; }
  .hero-content > *:nth-child(2) { right: 13px; bottom: -57px;} 
  .btn-wrp .bnr-btn { font-size: 15px; }
  .hero-main-content .main-small-title span {  font-size: 38px; line-height: 45px; margin: 0 7px; padding: 9px; border-radius:15px ; -webkit-border-radius:15px ; -moz-border-radius:15px ; -ms-border-radius:15px ; -o-border-radius:15px ; }
  .hero-main { padding: 150px 0 258px 0; border-radius: 41px; -webkit-border-radius: 41px; -moz-border-radius: 41px; -ms-border-radius: 41px; -o-border-radius: 41px; } 
  .hero-main-content .detail {font-size: 16px; line-height: 24px; } 
  .hero-content > *:first-child svg { top: -14px; right: 8px; width: 16px; } 
  .hero-content > *:nth-child(2) svg { top: -13px; width: 16px; left: 10px; }
  .hero-main-content .main-title { margin: 8px 0; }
  /*banner*/

   /*trusted*/
   .trusted-main { padding: 60px 0; } 
   .trusted-inner .large-paragraph { margin: 11px 0 35px 0; } 
   .trusted-block { padding: 15px 15px;        max-width: 245px; }
   .trusted-inner .section-title { max-width: 930px; margin: 0 auto; }
   .trusted-block .detail p { font-size: 15px; line-height: 20px; }
   /*trusted*/
   /*browser-reviews*/
   .browser-reviews-block { max-width: 100%; margin-right: 0px; align-items: center;  flex-direction: column;} 
   .browser-reviews-main { padding: 33px 0 10px 0; }
   .browser-reviews-inner { justify-content: center; } 
   .browser-reviews-wrp p { max-width: 100%; line-height: 20px; text-align: center; } 
   .browser-reviews-block ul li img { height: 44px; width: 44px; } 
   .browser-reviews-wrp { padding-left: 0; } 
   .browser-reviews-block ul { justify-content: center; }
   .browser-reviews-wrp p br {display: none;}
   /*browser-reviews*/
}

@media (min-width: 240px) and (max-width: 575px) {
   .main-title {font-size: 28px; line-height: 38px; text-align: center; } 
   .btn-blue { padding: 10px 18px; } .section-title { font-size: 24px; line-height: 34px;} 
   .large-paragraph {font-size: 15px; line-height: 20px;; } .sub-title { font-size: 14px; line-height: 16.88px; }

   /*header*/
   .navbar  .btn-blue  { margin-top: 10px; }
   .navbar { padding: 10px;  max-width: 1000px; margin: 0 20px 0 20px;} 
   .header { top: 30px; }
   .nav-item a { font-size: 16px; line-height: 20px; }
   .nav-logo .logo { max-width: 138px; }
   /*header*/

   /*banner*/
   .container { max-width: 100%; }

   .hero-main-content .main-small-title * { font-size: 26px; line-height: 29px;} 
   .hero-main::before {left: 2px; max-width: 74px; bottom: -141px;} 
   .hero-main::after { right: 2px; max-width: 74px;    bottom: -141px; } 
   .banner-img {  max-width: 299px; margin: -116px auto 0 auto; } .hero-content > *:first-child {left: 10px; bottom: -59px; } 
   .hero-content > *:nth-child(2) { right: 4px; bottom: -57px;} .btn-wrp .bnr-btn {font-size: 12px; line-height: 14px; padding: 6px 10px; } 
   .hero-main-content .main-small-title span { font-size: 29px; line-height: 35px; margin: 0 7px; padding: 5px; border-radius: 11px; -webkit-border-radius: 11px; -moz-border-radius: 11px; -ms-border-radius: 11px; -o-border-radius: 11px; } 
   .hero-main { padding: 130px 0 176px 0; border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; } 
   .hero-main-content .detail {font-size: 16px; line-height: 21px; } 
   .hero-content > *:first-child svg {top: -14px; right: 6px; width: 14px; }
   .hero-content > *:nth-child(2) svg {top: -12px; width: 13px; left: 3px; } 
   .hero-main-content .main-title { margin: 8px 0; }
  /*banner*/

   /*trusted*/
   .trusted-main { padding: 30px 0; } 
   .trusted-inner .large-paragraph { margin: 11px 0 35px 0; } 
   .trusted-block {padding: 12px 12px; max-width: 100%;         width: 100%; margin-right: 0px; }
   .trusted-inner .section-title { max-width: 930px; margin: 0 auto; }
   .trusted-block .detail p { font-size: 14px; line-height: 20px; }
   /*trusted*/
   /*browser-reviews*/
   .browser-reviews-block { max-width: 100%; margin-right: 0px; align-items: center;  flex-direction: column;} 
   .browser-reviews-main { padding: 45px 0 10px 0; }
   .browser-reviews-inner { justify-content: center; } 
   .browser-reviews-wrp p { max-width: 100%; line-height: 20px; text-align: center; } 
   .browser-reviews-block ul li img {         height: 40px; width: 40px; } 
   .browser-reviews-wrp { padding-left: 0; } 
   .browser-reviews-block ul { justify-content: center; }
   .browser-reviews-wrp p br {display: none;}
   /*browser-reviews*/
}

@media (max-width: 389px) {
   .section-title { font-size: 22px; line-height: 30px; } 
   .sub-title { font-size: 12px; line-height: 16.88px; }

   .hero-inner .sub-title img { margin-right: 3px; width: 13px; } 
   .banner-img { max-width: 251px; margin: -116px auto 0 auto; } 
   .hero-main::after { right: 2px; max-width: 50px; bottom: -108px; } 
   .hero-main::before { left: 2px; max-width: 50px; bottom: -108px; } 
   .navbar { padding: 4px 10px; margin: 0 15px; } .hero-main-content .detail { font-size: 15px; line-height: 19px; } 
   .hero-content > *:nth-child(2) { right: 5px; bottom: -41px; } 
   .hero-main { padding: 130px 0 195px 0;} .hero-content > *:first-child { left: 10px; bottom: -87px; } 
   .hero-inner .sub-title { padding: 4px 6px; } 
}
