@charset "utf-8";
/* CSS Document */

/*---------- Google Fonts ----------*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: #1d3348;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 28px;
}
figure {
  margin: 0;
}

a,
input,
button,
textarea {
  outline: none !important;
}

a {
  text-decoration: none;
  transition: all ease-in-out 300ms;
  -webkit-transition: all ease-in-out 300ms;
  -ms-transition: all ease-in-out 300ms;
  -o-transition: all ease-in-out 300ms;
  -moz-transition: all ease-in-out 300ms;
}

p a {
  text-decoration: none;
  color: inherit;
}

ul li a,
ol li a {
  text-decoration: none;
  color: inherit;
}

ul li a:hover,
ol li a:hover {
  text-decoration: none;
  color: #bbeadd;
}

span,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  padding: 0;
  margin: 0;
}

p {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit; /* 124.25% */
}

.container {
  max-width: 1210px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.sub-title {
  color: #1248c5;
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.88px; /* 124.25% */
}

.main-title {
  color: #1a2841;
  font-family: "Urbanist", sans-serif;
  font-size: 68.063px;
  font-weight: 400;
  line-height: 79.2px;
}
.main-title * {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.section-title {
  color: #1a2841;
  font-family: "Urbanist", sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 65px; /* 130% */
  text-align: center;
}
.section-title * {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.large-paragraph {
  color: #455267;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px; /* 180% */
}
.large-paragraph * {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.btn-blue {
  border-radius: 66px;
  background: linear-gradient(0deg, #0037b7 0%, #6593ff 113.33%);
  box-shadow: 0 25px 43px 0 rgba(0, 60, 199, 0.36);
  padding: 18px 26px;
  color: #fff;
  font-family: "Urbanist", sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: normal;
  display: flex;
  align-items: center;
}

.btn-blue img {
  margin-right: 10px;
}

.btn-blue:hover {
  opacity: 0.9;
}

/*header*/

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 48px;
  z-index: 11;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.49);
  box-shadow: 0 14px 43px 0 rgba(0, 0, 0, 0.03);
  padding: 12px 15px 12px 20px;
}

.nav-logo {
  display: flex;
}

.nav-logo img {
  height: 100%;
  width: 100%;
}

.nav-logo .logo {
  display: inline-flex;
  height: 100%;
  width: 100%;
  max-width: 149px;
}

/* Nav menu styles */
.nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
}

.nav-item {
  margin: 0 20px;
}

.nav-item a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-item a:hover,
.nav-item a.active {
  color: #1b50ca;
}

.navbar-toggler {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1001;
}

.toggler-icon {
  display: block;
  width: 25px;
  height: 2px;
  background: #333;
  margin: 5px 0;
  transition: all 0.3s;
}

.nav-item a {
  color: #11202b;
  font-family: "Inter", "sans-serif";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
}

.navbar-toggler.active .toggler-icon:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.navbar-toggler.active .toggler-icon:nth-child(2) {
  opacity: 0;
}

.navbar-toggler.active .toggler-icon:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
/*header*/

/*banner*/

.hero-main {
  background: url(../images/banner-bg.png);
  background-size: 100% 100%;
  border-radius: 55px;
  -webkit-border-radius: 55px;
  -moz-border-radius: 55px;
  -ms-border-radius: 55px;
  -o-border-radius: 55px;
  margin: 15px;
  padding: 179px 0 472px 0;
  position: relative;
  border: 1px solid #d8d8db;
}

.hero-main::before {
  content: "";
  position: absolute;
  left: 124px;
  background: url(../images/robot-left.svg);
  background-size: 100% 100%;
  width: 131px;
  height: 108px;
  bottom: -45px;
}
.hero-main::after {
  content: "";
  position: absolute;
  right: 124px;
  background: url(../images/robot-right.svg);
  background-size: 100% 100%;
  width: 124px;
  height: 111px;
  bottom: -45px;
}

.hero-inner {
  position: relative;
}

.hero-inner .sub-title {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background: #f5f6f9;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.08),
    4px 4px 4px 0 rgba(255, 255, 255, 0.25) inset;
  padding: 6.06px 16px 6.06px 12px;
}

.hero-inner .sub-title img {
  margin-right: 10px;
}

.hero-main-content {
  max-width: 930px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-main-content .main-title {
  margin: 15px 0;
}

.hero-main-content .main-title strong {
  font-weight: 700;
}
.hero-main-content .main-small-title * {
  color: #1a2841;
  text-align: center;
  font-family: "Urbanist", sans-serif;
  font-size: 65.813px;
  font-weight: 400;
  line-height: 79.2px; /* 120.342% */
}

.hero-main-content .main-small-title span {
  border-radius: 24px;
  background: linear-gradient(0deg, #0037b7 0%, #6593ff 113.33%),
    linear-gradient(0deg, #7050f0 0%, #b7aaee 100%);
  box-shadow: 0 25px 43px 0 rgba(0, 60, 199, 0.36);
  color: #fff;
  text-align: center;
  font-size: 67.922px;
  line-height: 79.2px; /* 116.605% */
  margin: 0 24px;
  padding: 9px 26px 12px 26px;
}
.hero-main-content .detail {
  color: #455267;
  text-align: center;
  font-family: "Urbanist", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px; /* 154.545% */
  max-width: 810px;
  margin: 27px auto 0 auto;
}
.btn-wrp .bnr-btn {
  color: #fff;
  text-align: center;
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 160%; /* 32px */
  border-radius: 59.722px;
  background: #3669b3;
  padding: 8px 19px;
}

.btn-wrp {
  position: relative;
  display: flex;
}

.hero-content {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  bottom: 0;
}

.banner-img {
  max-width: 1334px;
  margin: -420px auto 0 auto;
}

.banner-img img {
  position: relative;
}

.hero-content > *:first-child {
  position: absolute;
  left: -127px;
  bottom: 0;
}
.hero-content > *:first-child svg {
  position: relative;
  top: -23px;
  right: 13px;
}
.hero-content > *:nth-child(2) {
  position: absolute;
  right: -183px;
  bottom: 11px;
}
.hero-content > *:nth-child(2) .bnr-btn {
  border-radius: 59.722px;
  background: #3d50de;
}
.hero-content > *:nth-child(2) svg {
  top: -21px;
  position: relative;
  left: 14px;
}

.hero-main-inner::before {
  content: "";
  position: absolute;
  right: 124px;
  background: url(../images/banner-vector.svg);
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

/*banner*/

/*browser reviews*/

.browser-reviews-block ul li {
  list-style-type: none;
  margin-right: -10px;
  position: relative;
}

.browser-reviews-block ul {
  display: flex;
  padding: 0;
}

.browser-reviews-block ul li img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px solid #fff;
  height: 44px;
  width: 44px;
}

.browser-reviews-block ul li:first-child {
  z-index: 4;
}

.browser-reviews-block ul li:nth-child(2) {
  z-index: 3;
}

.browser-reviews-block ul li:nth-child(3) {
  z-index: 2;
}

.browser-reviews-block ul li:nth-child(4) {
  z-index: 1;
}

.browser-reviews-block {
  display: flex;
  align-items: center;
  margin-right: 64px;
}

.browser-reviews-inner > *:last-child {
  margin-right: 0;
}

.browser-reviews-wrp ul li:first-child,
.browser-reviews-wrp ul li:nth-child(2),
.browser-reviews-wrp ul li:nth-child(3),
.browser-reviews-wrp ul li:nth-child(4) {
  z-index: unset;
  left: unset;
}

.browser-reviews-inner ul {
  margin: 0;
}

.browser-reviews-wrp ul li {
  color: rgba(231, 113, 27, 1);
  margin-right: 5px;
}

.browser-reviews-wrp ul span {
  color: #e7711b;
  padding-right: 4px;
}

.browser-reviews-wrp {
  padding-left: 22px;
}
.browser-reviews-wrp p {
  max-width: 375px;
}

.browser-reviews-main {
  padding: 50px 0;
}

.browser-reviews-inner {
  display: flex;
  flex-wrap: wrap;
  max-width: 973px;
  margin: 0 auto;
  row-gap: 20px;
}
/*browser reviews*/

/*trusted*/

.trusted-flx {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
  justify-content: center;
}

.trusted-block {
  border-radius: 32px;
  border: 3px solid rgba(29, 51, 72, 0.09);
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(6.150000095367432px);
  padding: 28px 33px;
  max-width: 380px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}

.trusted-block .detail {
  font-size: 18px;
  line-height: 27px;
}

.trusted-inner .large-paragraph {
  margin: 14px 0 35px 0;
}

.trusted-main {
  padding: 80px 0 50px 0;
}
/*trusted*/
